<h1>アドミン側不適切なレビューを削除する</h1>
<p>Find me in app/views/homes/top.html.erb</p>
レビューの管理


<div class="container">
  <% @reviews.each do |review| %>
    <!--<div class="tweet">-->
        <%= review.user.nickname %>
        <%= review.user.introduction %>
  <% end %> 　
  
    <% if current_user.admin? %>
     <%= link_to "管理者が削除するよ", admins_reviews_path, method: :delete %>
        <% end %>
    </div>
  
</div>
