<!--<div class ="mt-5" style="background-color: #001A43CA;">-->
<!-- <div class = "gold" style ="border:solid 1px;">-->
<!--  <div class= "gold" style ="border-bottom: solid 1px;">-->
<!--    <h5 class ="gold" style="text-align: center; line-height:30px;">カテゴリー検索</h5>-->
<!--    </div>-->
<!--    <%# categories.each do |category| %>-->
<!--      <%#= link_to index_path(category.id) do %>-->
<!--      <h5 class ="gold btnshine" style ="width: 100%"><%#= category.category %></h5><br>-->
<!--      <%# end %>-->
<!--    <%# end %>-->
<!--    </div>-->
<!--</div>-->